.background {
  -fx-background-color: #004385;
}

.radio-button,
.label {
  -fx-font-size: 11pt;
  -fx-font-family: "Courier";
  -fx-text-fill: #ffffff;
}

.label-title {
  -fx-font-size: 30pt;
  -fx-font-family: "Courier";
  -fx-text-fill: #ffffff;
}

.choice-box {
  -fx-background-color: #033860;
  -fx-mark-color: #087ca7;
  -fx-text-fill: #ffffff;
}

#choice-box-popup-menu {
  -fx-background-color: #033860;
  -fx-text-fill: #ffffff;
}

.list-cell,
.button {
  -fx-background-color: #033860;
  -fx-text-fill: #ffffff;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
  -fx-background-color: #087ca7;
  -fx-text-fill: #ffffff;
}
